@model CfkkWeb.Models.ClubModel
@{
    ViewData["Title"] = "Editovat Klub";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>


<table class="table table-striped table-dark text-light">
    <thead>
        <tr>
            <th>Jméno</th>
            <th>Příjmení</th>
            <th>Datum narození</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>Pás</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var member in Model.ClubMembers)
    {
        <tr>
            <td>@member.FirstName</td>
            <td>@member.LastName</td>
            <td>@member.BirthDate.ToString("dd/MM/yyyy")</td>
            <td>@member.Email</td>
            <td>@member.PhoneNum</td>
            <td>@member.BeltName - @member.BeltColor</td>
            <td><a href="@Url.Action("Edit","Member", new { id = member.Id })"><i class="bi bi-pen-fill"></i></a></td>
        </tr>
    }
</table>


