@model CfkkWeb.Models.NewsArticleModel
@{
    ViewData["Title"] = "Nový článek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    /* Custom Styles for Summernote Editor */
    #summernote-editor {
        background-color: #212529 !important;
        border: 1px solid #ccc !important; 
        
    }

    .ul {
        color: #ccc !important;
    }

    .note-editable {
        background-color: #212529 !important;
    }

    
    textarea.form-control {
        border: 1px solid #ccc !important; 
    }
</style>


<h2>Nový článek</h2>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@using (Html.BeginForm("Edit", "NewsArticle", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group col-md-3">
        <label class="form-label col-md-2">Titulek</label>
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Title,"", new {@class = "text-danger"})
    </div>
    <div class="form-group col-md-3">
        <label class="form-label col-md-2">Text</label>
        @Html.TextAreaFor(m => m.Text, new { @class = "form-control editor", @Id = "summernote"})
        @Html.ValidationMessageFor(m => m.Text, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-3">
        <label class="form-label col-md-4">Uváděcí text</label>
        @Html.TextAreaFor(m => m.ShortDesc, new { @class = "form-control editor", })
        @Html.ValidationMessageFor(m => m.ShortDesc, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-3 mb-2">
        <label class="form-label col-md-2">Autor</label>
        @Html.TextBoxFor(m => m.Author, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Author, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-md-3 mb-3">
        @if (!string.IsNullOrEmpty(Model.PicturePath))
        {
            <div class="pt-1 pb-1">
                <label>Aktuální obrázek: </label>
                <img src="@Model.PicturePath" alt="Náhled aktuálního obrázku" style="max-width: 200px; max-height: 150px;" />
            </div>
        }
        <label for="Picture">Obrázek</label>
        <input type="file" class="form-control" name="Picture" id="PictureInput" accept="image/*" />
        <br />
        <label for="PreviewImage">Náhled náhledového obrázku:</label>
        <img id="PreviewImage" src="#" alt="Náhled obrázku" style="display:none; margin-top:10px; max-width: 100%; border: 1px solid #ccc; border-radius: 5px;" />
    </div>

    <div class="pb-3">
        <button type="submit" class="btn btn-secondary">Uložit</button>
        <button class="btn btn-secondary" onclick="location.href='@Url.Action("Index","NewsArticle")'">Zrušit</button>
    </div>
}

<script>
    document.getElementById('PictureInput').addEventListener('change', function (event) {
        const file = event.target.files[0];
        const preview = document.getElementById('PreviewImage');

        if (file && file.type.startsWith('image/')) {
            const reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            };

            reader.readAsDataURL(file);
        } else {
            preview.style.display = 'none';
            preview.src = '#';
        }
    });
</script>

